body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Courier, monospace;
	background: #081d1f;
	scroll-behavior: smooth;
}


.cart_dark {
	background: rgba(255, 255, 255, .7);
	margin: 40px;
}

.cart_dark a {
	color: black;
	text-decoration: none;
}

.cart__disabled {
	display: none;
}

.order_dark {
	background: rgba(255, 255, 255, .7);
}